<div id="home">
  <nav class="navbar" style="color: #ffffff;">
    <h3><span id="loggedUser"></span></h3>
    <h2>Login</h2>
    <input type="submit" class="btn bg-green" value="Logout" />
  </nav>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-lg-6 bg-pic">

      </div>
      <div class="col-lg-6 no-background ">
        <h1>Welcome to Irrig8</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident consequuntur vero placeat nam impedit
          expedita quam accusantium voluptate, suscipit adipisci quaerat molestiae optio assumenda tempore laboriosam
          veritatis facilis laudantium rem?</p>
        <form action="/login" method="post">
          <div>
            <label>Username:</label>
            <input class="form-control" type="user" name="username" placeholder="Your Login Name" />
          </div>
          <div>
            <label>Password:</label>
            <input class="form-control" type="password" name="password" placeholder="Secret" />
          </div>
          <div class="text-right top-margin">
            <input type="submit" class="btn bg-green float-left" value="Log In" />
          </div>
        </form>
        <a href="/register" class="float-right text-green" id="homeNewUser">New User?</a>
      </div>
    </div>
  </div>
</div>
<div class="row">

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src=""></script>