<div id="home">
  <h1 class="text-center">Welcome to Irrig8</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="auth-image" src="http://www.pup-grass.com/wp-content/uploads/2015/08/PupGear_Smarty_Resized-cropped.jpg"
          alt="Lab Lounging on lawn">
      </div>
      <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident consequuntur vero placeat nam impedit
          expedita quam accusantium voluptate, suscipit adipisci quaerat molestiae optio assumenda tempore laboriosam
          veritatis facilis laudantium rem?</p>
        <form>
          <div class="form-group">
            <label for="Email">Email address</label>
            <input type="email" class="form-control" id="homeEmail" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="homePassword" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary" id="login">Login</button>
          <a href="/register" class="float-right" id="homeNewUser">New User?</a>
        </form>
      </div>
    </div>
  </div>

</div>
<footer>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/public/js/homeScreen.js">

</script>