<div class="jumbotron text-center p-0">
  <h1>Zone Management</h1>
</div>
<div class="container">
  <h3>Welcome {{user.[0].fullName}}!</h3>
  <div class="row">
    {{#each user}}
    <div class="col-md-4">
      <div class="card mb-2">
        <img class="card-img-top" src={{'Devices.Zones.imageURL'}} alt="Lawn Zone Image">
        <div class="card-img-overlay p-0" style="max-height: 200px">
          <h3 class="card-title text-center">{{'Devices.Zones.zoneName'}}</h3>
        </div>
        <div class="card-body">

          <button type="button" class="btn btn-sm btn-primary onOffBtn" data-zoneId="{{'Devices.Zones.rachioZoneId'}}">On</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <a href="/">← Back To Home</a>
</div>
</div>

<script src="js/zones.js" type="text/javascript"></script>

