.list-group-item {
  line-height: 2.5;
}
html {
  background-color: rgb(2, 136, 2);
}
body {
 margin: 0 auto; 
 display: flex;
 min-height: 100vh;
 flex-direction: column;
 background-color: white;
 background-image: url("https://www.hunterindustries.com/sites/default/files/styles/hunter_nav_banner_splash/public/hunter_-mp_rotors-007_rt.jpg?itok=ZeMCWICL");
 background-repeat: no-repeat;
 background-size: cover;
}
h1 {
  text-align: center;
  font-size: 65px;
  margin: 50px;
}
/* footer {
  background-color: rgb(2, 136, 2);
  padding: 20px 0;
} */
.top-margin{
  margin: 20px;
}
.bg-green{
  background-color:#82b440;
  color: #eeeeee;
  margin-bottom: 10px;
}
.text-green{
  color: #82b440
}
a:hover{
  color: #eeeeee
}
.text-right{
  text-align: right;
}
.no-background{
  background-color: #ffffff;
  z-index: 1;
  min-width: 50vh;
  min-height: 100vh;
}
nav{
  background-color: #2c2c2c
}
.brand{
  color: #eeeeee;
  
}