.usage-detail-tbl, table, th, td {
  border: 1px solid black;
  text-align: center;
}

th, td {
  padding: 15px;
}

table {
  border-spacing: 5px;
  font-family: arial, sans-serif;
  width: 100%
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.usage-status-lbl {
  color: red;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}