.usage-detail-tbl, table, th, td {
  border: 1px solid black;
  text-align: center;
}

th, td {
  padding: 15px;
}

table {
  border-spacing: 5px;
  font-family: arial, sans-serif;
  width: 100%
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.usage-status-lbl {
  color: red;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#loggedUser {
  font-size: 12px;
}

#pageTitle {
  text-align: center;
}

body {
  background: lightgray url(../images/textured_paper.png);
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Header containing the navbar - stick it to the top over out page of content*/
header {
  background-color: #ffffff;
  border-bottom-color: #777777;
  border-bottom-width: 1px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.card-header{
  height: 80px;
  }
  
  .card-img-top{
  max-height: 195.797px;
  }